<div class="col-xl-4">
  <!-- Profile picture card-->
  <div class="card mb-4 mb-xl-0">
    <div class="card-header">Profil rasmi</div>
    <div class="card-body text-center">
      <!-- Profile picture image-->
      <img class="img-account-profile rounded-circle mb-2" alt="">
      <!-- Profile picture help block-->
      <div class="small font-italic text-muted mb-4">5 MBgacha bo'lgan JPG yoki PNG fayl yuklang </div>
      <!-- Profile picture upload button-->
      <input type="file" class="file-input" #fileUpload>
      <button class="btn btn-primary" type="button" (click)="fileUpload.click()">Rasm yuklash</button>
    </div>
  </div>
</div>
