.mainText{
  font-weight: 700;
  font-size: 20px;
  margin-top: 40px;
  margin-left: 600px;
}

mat-form-field{
  width: 100%;
  margin-left: 200px;
}
.formText{
  font-weight: 700;
  font-size: 15px;
  margin-left: 200px;
}

mat-spinner{
  display: inline-block;
}
.buttons{
  margin-left: 200px;

}
